@import 'variables';
@import 'modifiers';
@import 'tables';
@import 'cards';
@import 'badge';

* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: $page-color;
}
