@import 'variables';
@import 'modifiers';
@import 'tables';
@import 'cards';
@import 'badge';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.out-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $page-color;
}
