$page-color: #141b1c;
$block-color: #334247;
$odd-list-color: #2A3438;

$green-price-color: #5BB189;
$blue-price-color: #3A6BA5;
$orange-price-color: #EC632A;

$block-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);

$text-color:#FFFFFF;


$tag-color: #DC3F45;